@import 'mixins'
@import 'variables'

$nyancat1 = t t t t t t t t t t t r r r r r r r r r r t t t t t t t o o o o o o o o o o o o o o,
						t r r r r r r r r r r r r r r r r r r r r r r r r r r o n n n n n n n n n n n n n n o,
						t r r r r r r r r r r z z z z z z z z z z r r r r r o n n e e e e E e e E e e e n n n o,
						t z z z z z z z z z z z z z z z z z z z o o o z z z o n e e E e e e e o o e e e e e n o,
						t z z z z z z z z z z u u u u u u u u u o g g o z z o n e e e e e e o g g o e e E e n o t o o,
						t u u u u u u u u u u u u u u u u u u u o g g g o o o n e e e e e e o g g g o e e e n o o g g o,
						t u u u u u u u u u u l l l l l l l l l l o g g g g o n e e e E e e o g g g g o o o o g g g g o,
						t l l l l l l l l l l l l l l l l l l l l l o g g g o n e e e e e e o g g g g g g g g g g g g o,
						t l l l l l l l l l l b b b b b b b b b b l l o o o o n e e e e E o g g g w o g g g g g w o g g o,
						t b b b b b b b b b b b b b b b b b b b b b b b b b o n e E e e e o g g g o o g g g o g o o g g o,
						t b b b b b b b b b b v v v v v v v v v v b b b b b o n e e e E e o g e e g g g g g g g g g e e o,
						t v v v v v v v v v v v v v v v v v v v v v v v v o o n n e E e e o g e e g o g g o g g o g e e o,
						t v v v v v v v v v v t t t t t t t t t t t o o o o o n n n e e e e o g g g o o o o o o o g g o,
						t t t t t t t t t t t t t t t t t t t t t o g g g o o o n n n n n n o g g g g g g g g g g g o,
						t t t t t t t t t t t t t t t t t t t t t o g g o t t o o o o o o o o o o o o o o o o o o o,
						t t t t t t t t t t t t t t t t t t t t t o o o t t t o g g o t t t o g g o t o g g o,
						t t t t t t t t t t t t t t t t t t t t t t t t t t t t o o o t t t t o o o t t o o o

$nyancat2 = t t t t t t t t t t t r r r r r r r r r r t t t t t t t o o o o o o o o o o o o o o,
						t r r r r r r r r r r r r r r r r r r r r r r r r r r o n n n n n n n n n n n n n n o,
						t r r r r r r r r r r z z z z z z z z z z r r r r r o n n e e e e E e e E e e e n n n o,
						t z z z z z z z z z z z z z z z z z z z z o o z z z o n e e E e e e e e o o e e e e n o,
						t z z z z z z z z z z u u u u u u u u u o g g o z z o n e e e e e e e o g g o e E e n o t t o o,
						t u u u u u u u u u u u u u u u u u u u o g g g o o o n e e e e e e e o g g g o e e n o o o g g o,
						t u u u u u u u u u u l l l l l l l l l l o g g g g o n e e e E e e e o g g g g o o o o g g g g o,
						t l l l l l l l l l l l l l l l l l l l l l o o g g o n e e e e e e e o g g g g g g g g g g g g o,
						t l l l l l l l l l l b b b b b b b b b b l l l o o o n e e e e E e o g g g w o g g g g g w o g g o,
						t b b b b b b b b b b b b b b b b b b b b b b b b b o n e E e e e e o g g g o o g g g o g o o g g o,
						t b b b b b b b b b b v v v v v v v v v v b b b b b o n e e e E e e o g e e g g g g g g g g g e e o,
						t v v v v v v v v v v v v v v v v v v v v v v v v o o n n e E e e e o g e e g o g g o g g o g e e o,
						t v v v v v v v v v v t t t t t t t t t t v v o o o o n n n e e e e e o g g g o o o o o o o g g o,
						t t t t t t t t t t t t t t t t t t t t t t t o g g o o n n n n n n n o g g g g g g g g g g g o,
						t t t t t t t t t t t t t t t t t t t t t t t o g g o o o o o o o o o o o o o o o o o o o o o,
						t t t t t t t t t t t t t t t t t t t t t t t o o o t o g g o t t t o g g o t o g g o,
						t t t t t t t t t t t t t t t t t t t t t t t t t t t t o o o t t t t o o o t t o o o

$nyancat3 = t t t t t t t t t t t t t t t t t t t t t t t t t t t t o o o o o o o o o o o o o o,
						t r r r r r r r r r r t t t t t t t t t t r r r r r r o n n n n n n n n n n n n n n o,
						t r r r r r r r r r r r r r r r r r r r r r r r r r o n n e e e e E e e E e e e n n n o,
						t z z z z z z z z z z r r r r r r r r r r z z z z z o n e e E e e e e e o o e e e e n o,
						t z z z z z z z z z z z z z z z z z z z z z z z z z o n e e e e e e e o g g o e E e n o t t o o,
						t u u u u u u u u u u z z z z z z z z z z u u u o o o n e e e e e e e o g g g o e e n o o o g g o,
						t u u u u u u u u u u u u u u u u u u u u u o o g g o n e e e E e e e o g g g g o o o o g g g g o,
						t l l l l l l l l l l u u u u u u u u u o o g g g g o n e e e e e e e o g g g g g g g g g g g g o,
						t l l l l l l l l l l l l l l l l l l l o g g o o o o n e e e e E e o g g g w o g g g g g w o g g o,
						t b b b b b b b b b b l l l l l l l l l l o o o b b o n e E e e e e o g g g o o g g g o g o o g g o,
						t b b b b b b b b b b b b b b b b b b b b b b b b b o n e e e E e e o g e e g g g g g g g g g e e o,
						t v v v v v v v v v v b b b b b b b b b b v v v v v o n n e E e e e o g e e g o g g o g g o g e e o,
						t v v v v v v v v v v v v v v v v v v v v v v v v v o n n n e e e e e o g g g o o o o o o o g g o,
						t t t t t t t t t t t v v v v v v v v v v t t t t t o o n n n n n n n o g g g g g g g g g g g o,
						t t t t t t t t t t t t t t t t t t t t t t t t t t t o o o o o o o o o o o o o o o o o o o o,
						t t t t t t t t t t t t t t t t t t t t t t t t t t o g g o o g g o t o g g o t o g g o,
						t t t t t t t t t t t t t t t t t t t t t t t t t t o o o t t o o o t t o o o t t o o o

$nyancat4 = t t t t t t t t t t t t t t t t t t t t t t t t t t t t t o o o o o o o o o o o o o o,
						t r r r r r r r r r r t t t t t t t t t t r r r r r r r o n n n n n n n n n n n n n n o,
						t r r r r r r r r r r r r r r r r r r r r r r r r r r o n n e e e e E e e E e e e n n n o,
						t z z z z z z z z z z r r r r r r r r r r z z z z z z o n e e E e e e e e o o e e e e n o,
						t z z z z z z z z z z z z z z z z z z z z z z z z z z o n e e e e e e e o g g o e E e n o t t o o,
						t u u u u u u u u u u z z z z z z z z z z u u u u o o o n e e e e e e e o g g g o e e n o o o g g o,
						t u u u u u u u u u u u u u u u u u u u u u u o o g g o n e e e E e e e o g g g g o o o o g g g g o,
						t l l l l l l l l l l u u u u u u u u u u l o g g g g o n e e e e e e e o g g g g g g g g g g g g o,
						t l l l l l l l l l l l l l l l l l l l l o g g g o o o n e e e e E e o g g g w o g g g g g w o g g o,
						t b b b b b b b b b b l l l l l l l l l l o g g o b b o n e E e e e e o g g g o o g g g o g o o g g o,
						t b b b b b b b b b b b b b b b b b b b b b o o b b b o n e e e E e e o g e e g g g g g g g g g e e o,
						t v v v v v v v v v v b b b b b b b b b b v v v v v v o n n e E e e e o g e e g o g g o g g o g e e o,
						t v v v v v v v v v v v v v v v v v v v v v v v v v v o n n n e e e e e o g g g o o o o o o o g g o,
						t t t t t t t t t t t v v v v v v v v v v t t t t t t o o n n n n n n n o g g g g g g g g g g g o,
						t t t t t t t t t t t t t t t t t t t t t t t t t t t o o o o o o o o o o o o o o o o o o o o o,
						t t t t t t t t t t t t t t t t t t t t t t t t t t o g g o o g g o t o g g o t o g g o,
						t t t t t t t t t t t t t t t t t t t t t t t t t t o o o t t o o o t t o o o t t o o o

$bell = t t t t t t a a t t t t A t t,
				t t t t t a a a t A t t t A t,
				t t t t a a a a t t A t t t A,
				t a a a a a a a t t A t t t A,
				t a a a a a a a t t t A t t A,
				t A A A a a a a t t A t t t A,
				t t t t A a a a t t A t t t A,
				t t t t t A a a t A t t t A t,
				t t t t t t A A t t t t A t t
				
$bell_off = t t t t t t a a t t t t t t,
				 		t t t t t a a a t t t t t t,
				 		t t t t a a a a t A t t t A,
				 		t a a a a a a a t t A t A t,
				 		t a a a a a a a t t t A t t,
				 		t A A A a a a a t t A t A t,
				 		t t t t A a a a t A t t t A,
				 		t t t t t A a a t t t t t t,
				 		t t t t t t A A t t t t t t

@keyframes animate {
	0% {
		box-shadow pixelize($nyancat1)
		transform translateY(5px)
	}
	
	33% {
		box-shadow pixelize($nyancat2)
	}
	
	66% {
		box-shadow pixelize($nyancat3)
		transform translateY(0)
	}
	
	99% {
		box-shadow pixelize($nyancat4)
	}
}

@keyframes animateMobile {
	0% {
		box-shadow pixelize($nyancat1, $mobileSize)
		transform translateY(5px)
	}

	33% {
		box-shadow pixelize($nyancat2, $mobileSize)
	}

	66% {
		box-shadow pixelize($nyancat3, $mobileSize)
		transform translateY(0)
	}

	99% {
		box-shadow pixelize($nyancat4, $mobileSize)
	}
}
	
body
	background $blue

.nyancat
	size $defaultSize
	animation animate .4s steps(1) infinite
	
	@media screen and (max-width: 50 * $defaultSize)
		width $mobileSize
		height $mobileSize
		animation animateMobile .4s steps(1) infinite

.bell
	size 5px
	box-shadow pixelize($bell_off, 5px)
	
	&_on
		box-shadow pixelize($bell, 5px)
		
.main
	size 100% 100vh
	display flex
	
	&__bell
		position absolute
		bottom 10px
		left 10px
		size 70px 45px
		cursor pointer
	
	&__image
		flex-shrink 0
		width 50 * $defaultSize
		height 17 * $defaultSize
		margin auto 0
		transform translateX(- $defaultSize)
		
		@media screen and (max-width: 50 * $defaultSize)
			width 50 * $mobileSize
			height 17 * $mobileSize
			transform translateX(- $mobileSize)
