$blue = #114475

$colors = {
	'r': #ff130e,
	'o': black,
	'n': #f7ce9b,
	'z': #ffa711,
	'e': #ffa3ff,
	'E': #ff4eaf,
	'u': #ffff06,
	't': transparent,
	'g': #a8a8a8,
	'l': #3fff0d,
	'b': #13acff,
	'w': #fff,
	'v': #7939b5,
	'a': lighten($blue, 20%),
	'A': lighten($blue, 10%)
}

$defaultSize = 8px
$mobileSize = 6px
